.about-layout {
  display: grid;
  grid-template-columns: 320px 1fr;

  grid-template-areas:
    "photo name"
    "photo detail";

  column-gap: 80px;
  row-gap: 24px;
 
}

.profile-photo {
  margin-top: 20px;
  grid-area: photo;
  size: 200px;
}

.profile-photo img {
  width: 400px; 
  max-width: 100%;
  height: auto;

  display: block;
  object-fit: contain;
  border-radius: 12px;
}

.profile-photo h2 {
  font-size: 28px;
  color: #153f2d;
}

.profile-name {
  grid-area: name;
  font-size: 30px;
  margin-bottom: 32px;
}

.profile-detail {
  grid-area: detail;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 60px;
  row-gap: 36px;
}

.detail-item h2 {
  margin: 0 0 14px;
  font-size: 20px;
  color:#153f2d;
}

.detail-item p {
  margin: 6px 0;
  font-size: 15px;
  line-height: 1.5;
}

.detail-year {
  color: gray;
  margin-right: 24px;
}

.experience,
.program {
  grid-column: 1 / -1;
}

.green-highlight {
  color: #ffffff;
  background-color: #153f2d;
  padding: 0 4px;
}

.experience-list {
  display: grid;
  grid-template-rows: repeat(7, auto);
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
  column-gap: 60px;
  row-gap: 6px;
}

.experience-list p {
  margin: 0;
}

.profile-name-detail {
  grid-area: name;
  margin-top: 24px;
}

.program-list {
  display: flex;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.program-item {
  width: 82px;
  height: 82px;

  /* 투명한 동일 크기 셀 */
  border: 1px solid transparent;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.program-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.award {
  grid-column: 1 / -1;
}

.award p {
  white-space: nowrap;
}

.award .detail-year {
  display: inline-block;
  width: 70px;
  margin-right: 24px;
}